@import "_variables";
@import "_reset";
@import "_mixins";

.fade-transition-enter-active,
.fade-transition-leave-active {
  transition: opacity 0.3s;
}
.fade-transition-enter,
.fade-transition-leave-active {
  opacity: 0;
}

html {
  @include on-screen-xs {
    font-size: 13px;
  }
}
